*{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#title{
	cursor:pointer;
	text-decoration:none;
	font-weight:normal;
}
#title:hover{
	text-decoration: underline;
	font-weight: bold;
}
#all{
	background-color:#FFFFE5;
	width:800px;
	margin:auto auto;
	text-align:center;
}
#top{
	background-color:#B4EFB5;
}
#top_pic{
	background-image:url(../../Doc/Top.jpg);
	width:800px;
	height:150px;
	text-align:left;
	color:#FFFFFF;
	font-size:26pt;
}
#content {
	background-color: #D4FFDD;
	width:800px;
	text-align:center;
	margin:auto auto;
	float:left;
	font-size: 24px;
}
#login{
	text-align:center;
	font-size:28px;
	font-weight:bold;
}
#login_tab{
	text-align:center;
	margin:auto auto;
	font-size:20px;
}
#login_tab tr td{
	padding: 8px;
}
#login_tab tr td input{
	font-size: 18px;
}
.iframe{
	border: none;
	height: 30px;
	width: 800px;
	color:#D70003;
	margin-bottom: 5px;
}