* {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.checkbox{
	width:18px; height: 18px;
}
#top {
	margin: 0 0 0 0;
	height: 60px;
	background-color: #BBFFBE;
}
#top_bar {
	width: 1000px;
	margin: auto auto;
}
#content {
	width: 1000px;
	background-color: #FFFFFF;
	margin: auto auto;
}
#title {
	line-height: 60px;
	font-size: 26px;
	color: #000000;
	cursor: pointer;
	text-decoration: none;
	font-weight: normal;
}
#title:hover {
	text-decoration: underline;
	font-weight: bold;
}
#left_menu {
	float: left;
	width: 250px;
	height: inherit;
	background-color: #DDFFF8;
}
#main {
	float: left;
	width: 750px;
	height: inherit;
	text-align: center;
}
.SH {
	background-color: #FFCC99;
	text-align: left;
	font-size: 17pt;
	color: #4A0095;
	cursor: pointer;
	text-decoration: none;
	font-weight: normal;
	padding: 5px;
}
.SH:hover {
	text-decoration: underline;
}
.menu {
	cursor: pointer;
	font-size: 19px;
	padding: 10px;
	text-align: center;
}
.menu:hover {
	background-color: #FFFFFF;
}
.context {
	font-size: 18px;
	text-align: center;
	width: 750px;
}
.infotable {
	width: 520px;
	font-size: 20px;
	margin: auto auto;
}
.infotable tr {
	height: 50px;
}
.infotable tr td input {
	font-size: 18px;
}
.infotable tr td select {
	font-size: 18px;
}
.submitbutton {
	font-size: 20px;
	padding: 5px;
}
#comment_tab {
	width: 730px;
	border: solid 2px;
	border-spacing: 0px;
	margin: auto auto;
}
.comment {
	font-size: 20px;
}
.comment:hover {
	background-color: #FFFEDF;
}
#comment_tab tr td {
	border: solid 1px;
	border-spacing: 0px;
	cursor: pointer;
}
#tab_title {
	font-size: 22px;
	font-weight: bold;
}
.reply_tab {
	width: 620px;
	text-align: left;
}
.reply_headshot {
	padding-top: 10px;
	width: 40px;
	height: 40px;
}
.un_reply {
	font-size: 20px;
	color: #0668FF;
}
.uc_reply {
	font-size: 18px;
	cursor: text;
}
.replytime {
	color: #646464;
	font-size: 16px;
	cursor: text;
}
.episode_link {
	color: inherit;
}
.episode_link:hover {
	font-weight: bold;
}
#user_tab {
	width: 730px;
	border: solid 2px;
	border-spacing: 0px;
	margin: auto auto;
	font-size: 18px;
}
#user_tab tr {
	padding-top: 5px;
	padding-bottom: 5px;
}
#user_tab tr td {
	border: solid 1px;
	border-spacing: 0px;
}
.user_tab_title {
	font-size: 20px;
	cursor: pointer;
}
.user_tab_title:hover {
	background-color: #DAFFFE;
}
#epi_tab {
	width: 740px;
	border: solid 2px;
	border-spacing: 0px;
	margin-top: 8px;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
}
#epi_tab tr {
	padding-top: 5px;
	padding-bottom: 5px;
}
#epi_tab tr td {
	border: solid 1px;
	border-spacing: 0px;
}
#epitab_title{
	font-weight: bold;
	font-size: 20px;
}
#subject_tab {
	width: 500px;
	border: solid 2px;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 22px;
}
#subject_tab tr {
	padding-top: 5px;
	padding-bottom: 5px;
}
#subject_tab tr td {
	padding: 3px;
	border: solid 1px;
	border-spacing: 0px;
}
.progress {
	width: 100%;
	border: 1px solid #4da8fe;
	border-radius: 40px;
	height: 25px;
	position: relative;
}
.progress .label {
	position: relative;
	text-align: center;
}
.progress .bar {
	position: absolute;
	left: 0;
	top: 0;
	background: #4D90FE;
	height: 25px;
	border-radius: 40px;
	min-width: 20px;
}
.substable{
	width: 500px;
	margin: auto auto;
	border: solid 2px;
	border-spacing: 0px;
}
.substable tr td{
	padding-top: 5px;
	padding-bottom: 5px;
	border: solid 1px;
	border-spacing: 0px;
}

